<div class= "ui middle aligned center featureimage">
  <p></p>
<div class="ui middle aligned center huge header"><h2>Are you sure you want to edit your account, <%= '' + @user.name + " ?"%></h2></div>
<p></p>

<img class="ui small circular image container" src=" /becks.jpg">


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>
<div class="ui aligned container">
  <div class="column">
    <div class="ui large form">
      <div class="ui stacked segment">

        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.text_field :name, autofocus: true, placeholder: "Name" %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="mail outline icon"></i>
            <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
          </div>
        </div>

        <div class="field">
              <%= f.text_area :about, autofocus: true, placeholder: "Tell us about yourself" %>
          </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for:
          <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <% if @minimum_password_length %>
              <%= f.password_field :password, autocomplete: "off", placeholder: " Leave blank if you do not intend to change your password.
              #{@minimum_password_length} characters minimum" %>
            <% end %>
          </div>
        </div>

        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Re-enter Password" %>
          </div>
        </div>

        <%= f.file_field :photo, class:"ui button grey"%><br />
        <p></p>

        <div class="field">
          <%= f.label :current_password %>
          <i>(we need your current password to confirm your changes)</i><br/>
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>

    <button class="ui button fluid large orange" type="submit">Update</button>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="ui message container aligned center black">
  <h3>Cancel your account</h3>
<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"ui button red" %>
</div>
<%= link_to "Back", :back %>
</div>
