<div class="ui menu">

    <div class="header item"><%= link_to "FLEASTARTER", root_path %></div>
    <%= link_to "Explore Events", root_path, class: "item" %>
    <%= link_to "Items for Sale", items_path, class: "item" %>

    <div class="right menu">
      <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
      <%= link_to "Log In", new_user_session_path, class: "item" %>
    </div>



</div>

<script>
$(document)
.ready(function() {
  $('.ui.menu .ui.dropdown').dropdown({
    on: 'hover'
  });

  $('.ui.menu a.item')
  .on('click', function() {
    $(this)
    .addClass('active')
    .siblings()
    .removeClass('active')
    ;
  });

  $('.indicating')
  .progress({
    // percent: 50
  })
  ;
})
 ;
</script>
