<div class="ui menu">

  <% if current_user %>

    <div class="header item"><%= link_to "FLEASTARTER", root_path %></div>

    <%= link_to "Events", root_path, class: "item" %>
    <%= link_to "Items", {:controller => 'items', :action => 'index'}, class: "item" %>


        <%= link_to "!find an event", root_path, class: "item" %>
        <%= link_to "add item", new_item_path, class: "item" %>
        <%= link_to "manage items", {:controller => 'items', :action => 'show_by_user', :id => current_user.id}, class: "item" %>

        <%= link_to "create event", new_event_path, class: "item" %>
        <%= link_to "manage events", events_path, class: "item" %>

    <div class="right menu">

      <%= link_to "profile", {:controller => 'users', :action => 'show', :id => current_user.id}, class: "item" %>
      <%= link_to "!manage account", root_path, class: "item" %>
      <%= link_to "!favorites", root_path, class: "item" %>
      <%= link_to "!my events", root_path, class: "item" %>

      <a class="item"><%= current_user.id %></a>
      <%= link_to "log out", destroy_user_session_path, method: :delete, class: "item" %>


    </div>

  <% else %>

    <div class="header item"><%= link_to "FLEASTARTER", root_path %></div>


        <%= link_to "Events", root_path, class: "item" %>
        <%= link_to "Items", items_path, class: "item" %>

      <%= link_to "Sign Up", new_user_registration_path, class: "item" %>
      <%= link_to "Log In", new_user_session_path, class: "item" %>

  <% end %>

</div>
