<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>



    <% @events.each do |event| %>
    <div class="box">

          <strong><%= event.name %></strong><br>
          <p><%= event.location %></p>

        <p><%= event.date %></p>
        <p><%= event.target %></p>
        <p><%= event.user.email %></p>

        <p><%= link_to 'Show', post %></p>
        <% if post.user == curent_user %>
        <p><%= link_to 'Edit', edit_post_path(post)%></p>
        <p><%= link_to 'Destory', post, method: :delete, data: {confrim: 'Are you sure'} %></p>
        <% end %>
    <% end %>
  </div>


<%= link_to 'new event', events_new_path %>
