<div class="ui grid container">
  <% @events.each do |event| %>
    <div class="four wide column">
      <div class="ui card">

          <strong><%= event.name %></strong><br>

          <div class="ui indicating progress" data-value="<%= event.target %>" data-total="<%= event.target %>">
            <div class="bar"></div>
            <div class="label">
              <%= event.target %> people going out of a target <%= event.target %> people.
            </div>
          </div>

          <p><%= event.location %></p>
          <p><%= event.date %></p>
          <p><%= event.target %></p>
          <p><%= event.user.email %></p>
          <p><%= link_to 'Show', event %></p>

          <% if event.user == current_user %>
            <p><%= link_to 'Edit', edit_event_path(event)%></p>
            <p><%= link_to 'Destroy', event, method: :delete %></p>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
