<div class="ui grid container">
  <% @events.each do |event| %>
    <div class="four wide column">
      <div class="ui card">

          <strong><%= event.name %></strong><br>
          <p><%= event.location %></p>
          <p><%= event.date %></p>
          <p><%= event.target %></p>
          <p><%= event.user %></p>
          <p><%= link_to 'Show', event %></p>

          <% if event.user == current_user %>
            <p><%= link_to 'Edit', edit_event_path(event)%></p>
            <p><%= link_to 'Destroy', event, method: :delete %></p>
          <% end %>
      </div>
    </div>
  <% end %>
</div>
