


<!-- Page Contents -->

<div class="cover"></div>

<div class="pusher">


  <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">

        <div class="eight wide column">
          <div class="main">

            <h1 class="ui header"><%= @event.name %></h1>
            <h3 class="ui header"><%= @event.one_liner %></h3>

            <h4><%= @event.date.to_formatted_s(:rfc822) %></h4>
            <h4><%= @event.location %></h4>
            <p><%= @event.description %></p>



          <h1>others</h1>

              <p>Target Attendance: <%= @event.target %></p>
              <p>Created By: <%= @event.user.email %></p>
              <p>Other Sellers allowed?: <%= @event.other_sellers %></p>

          </div>
        </div>






        <div class="six wide right floated column">

          <div class="ui indicating progress" data-value="<%= @attendances %>" data-total="<%= @event.target %>" id="eventstage">
            <div class="bar">

            </div>
            <div class="label">
              <%= @attendances %> people going out of a target <%= @event.target %> people.
            </div>
          </div>


        <li>Days to event: <%= (@event.date - Date.today).to_i %></li>
        <li>rsvp button</li>
        <li>remind me button</li>
        <li>share button</li>
        <li>who's going </li>
        <% @whoisgoing.each do |x| %>
        <li><%= User.find(x.user_id).name%></li>
        <%end%>
      </div>



<div>

</div>

      </div>
      <div class="row">
        <div class="center aligned column">
          <% if @event.user == current_user %>
            <%= link_to 'Edit', edit_event_path(@event), class: "ui huge button" %>
            <%= link_to 'Destroy', @event, method: :delete, class: "ui huge button" %>
          <% end %>
        </div>
      </div>

      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Save</a>
          <a class="ui huge button">Save and Publish</a>
        </div>
      </div>
    </div>
  </div>

</div>
