<div class="ui grid container">
<div class="left floated sixteen wide column">
  <%= form_for @item, url: {controller: "items", action: "update"}, html: {class: "ui grid"} do |t| %>
    <div class="six wide column">
      <h1>Update Item</h1>
      <div class="ui segment">
        <%= cl_image_tag(@item.photo, :width => 200, :height => 200, :crop => :fill) %>
        <div class="field">
          <div class="ui icon input">
            <%= t.file_field :photo, :value => @item.photo %>
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <div class="ui equal width form">
        <div class="field">
          <%= t.label :name %><%= t.text_field :name, :value => @item.name %>
        </div>
        <div class="field">
          <%= t.label :category %><%= t.text_field :category, :value => @item.category %>
        </div>
        <div class="field">
          <%= t.label :description %><%= t.text_field :description, :value => @item.description %>
        </div>
        <div class="fields">
          <div class="field">
            <%= t.label :price %><%= t.text_field :price, :value => @item.price %>
          </div>
          <div class="field">
            <%= t.label :condition %><%= t.text_field :condition, :value => @item.condition %>
          </div>
          <div class="field">
            <%= t.label :stock %><%= t.text_field :stock, :value => @item.stock %>
          </div>
          <%= t.hidden_field :user_id, :value => current_user.id %>
        </div>
      </div>
      <%= t.submit "Update", :class => "ui button" %>
    </div>
  <% end %>
</div>
</div>
