<div class="ui grid container">
  <% current_user = User.find_by(id: 1) %>
  <h1>Update Item</h1>
    <div class="ui equal width form">
      <%= form_for @item, url: {controller: "items", action: "update"} do |t| %>
      <div class="fields">
        <div class="field">
          <%= t.label :name %>
          <%= t.text_field :name, :value => @item.name %>
        </div>
        <div class="field">
          <%= t.label :category %>
          <%= t.text_field :category, :value => @item.name %>
        </div>
      </div>
    <div class="fields">
      <div class="field">
        <%= t.label :price %><%= t.text_field :price, :value => @item.price %>
        <%= t.label :condition %><%= t.text_field :condition, :value => @item.condition %>
      </div>
    </div>
  <div class="ui form">
      <div class="field">
        <%= t.label :description %>
        <%= t.text_field :description, :value => @item.description %>
      </div>
  </div>
      <div class="field">
      <%= t.label :stock %><%= t.text_field :stock, :value => @item.stock %><br />
    </div>

      <div class="field">
          <div class="ui action input">
            <%= t.label :photo %>
            <%= t.file_field :photo, :value => @item.photo %>
          </div>
      </div>


      <%= t.hidden_field :user_id, :value => current_user.id %>
      <%= t.submit "Update" %>
    <% end %>
</div>
</div>
