<div class="ui grid center aligned container">
  <div class="six wide column">
    <%= cl_image_tag(@item.photo, :width => 350, :height => 350, :crop => :fill, :gravity => :face) %>
  </div>
  <div class="six wide column left aligned">
    <div class="content">
      <br>
      <h1><%= @item.name %></h1>
      <div class="meta">
        <h2>$<%= @item.price %>, <small><%= @item.stock %> available</small></h2>
        <h3>Condition: <%= @item.condition%></h3>
        <h4>Category: <%= @item.category %></h4>
        <h5>Description: <%= @item.description %></h5>
      </div>
    </div>
  </div>
  <div class="four wide column">
    <br><br><br>
    <div class="extra content">
      <%= link_to "Seller's Profile", {:controller => 'users', :action => 'show', :id => @item.user_id }, class: "ui basic teal button" %><br><br>
      <% if @item.user_id == current_user.id %>
        <%= link_to "Discard", {:controller => 'items', :action => 'destroy', :id => @item.id}, class: "ui basic red button", :method => :delete %><br><br>
        <%= link_to "Edit", {:controller => 'items', :action => 'edit', :id => @item.id }, class: "ui basic green button" %>
      <% end %>
    </div>
  </div>
</div>
